<a href="https://colab.research.google.com/github/ilham-mukti/Machine-Learning/blob/main/Latihan_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [6]:
a = [1,2,3]
contoh = {'asu':a, 'b':[4,5,6], 'c':[7,8,9]}
pd.DataFrame(contoh)

# **Membaca data dari File**

In [13]:
datas = pd.read_csv("/content/sample_data/california_housing_train.csv")
datas.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [14]:
datas.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [21]:
datas.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [28]:
datas[ ['population', 'households'] ].head()

   population  households
0      1015.0       472.0
1      1129.0       463.0
2       333.0       117.0
3       515.0       226.0
4       624.0       262.0

# **Slicing**

In [31]:
datas[ ['population', 'households'] ][1:5]

   population  households
1      1129.0       463.0
2       333.0       117.0
3       515.0       226.0
4       624.0       262.0

In [32]:
datas.loc[1:4, 'population': 'median_house_value']

   population  households  median_income  median_house_value
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0

In [33]:
datas.loc[1:4, ['population', 'median_house_value', 'total_bedrooms']]

   population  median_house_value  total_bedrooms
1      1129.0             80100.0          1901.0
2       333.0             85700.0           174.0
3       515.0             73400.0           337.0
4       624.0             65500.0           326.0

# **Mengganti Index Kolom**

In [51]:
datas = pd.read_csv('/content/diabetes.csv') #ditambah index_col='nama kolom'
datas.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [52]:
datas.iloc[1:3, 1:5] # Iloc semuanya ANGKA

   Glucose  BloodPressure  SkinThickness  Insulin
1       85             66             29        0
2      183             64              0        0

# **Dataframe Summary**

**Data Numerik**

In [53]:
datas.corr()

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]

In [54]:
datas.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [69]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

**Data Kategori**

In [58]:
datas.Outcome.value_counts() #Ini untuk DATA KATEGORI

0    500
1    268
Name: Outcome, dtype: int64

In [61]:
datas.Outcome.unique()

array([1, 0])

In [62]:
datas.nunique()

Pregnancies                  17
Glucose                     136
BloodPressure                47
SkinThickness                51
Insulin                     186
BMI                         248
DiabetesPedigreeFunction    517
Age                          52
Outcome                       2
dtype: int64

**Series**

In [64]:
datas.Age.head()

0    50
1    31
2    32
3    21
4    33
Name: Age, dtype: int64

In [66]:
datas.Age.mean(), datas.Age.median()

(33.240885416666664, 29.0)

# **NaN Value / Missing Value**

In [72]:
datas.isna().sum() #Nanti muncul jumlah datas yang NaN pada suatu Kolom

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [73]:
datas.dropna().head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [74]:
datas.fillna(datas.mean()).head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [77]:
datas.fillna(datas.mean(), inplace=True) #Inplace itu untuk ngetiban data supaya ga perlu datas = datas.fillna(datas.mean(), xx)
datas.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]