<a href="https://colab.research.google.com/github/ilham-mukti/Machine-Learning/blob/main/Latihan_Pandas_3_(Encoding).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
datas = pd.read_csv('/content/data_jakarta.csv')
datas.head()

   tahun nama_provinsi  ...       jenis_pekerajaan jumlah
0   2018   DKI Jakarta  ...    Belum/Tidak Bekerja   1474
1   2018   DKI Jakarta  ...  Mengurus Rumah Tangga   1625
2   2018   DKI Jakarta  ...      Pelajar/Mahasiswa   1800
3   2018   DKI Jakarta  ...              Pensiunan     19
4   2018   DKI Jakarta  ...   Pegawai Negeri Sipil    223

[5 rows x 7 columns]

In [ ]:
datas.shape

(11508, 7)

In [ ]:
datas.isna().sum()

tahun               0
nama_provinsi       0
nama_kabupaten      0
nama_kecamatan      0
nama_kelurahan      0
jenis_pekerajaan    0
jumlah              0
dtype: int64

In [ ]:
datas.nunique()

tahun                  1
nama_provinsi          1
nama_kabupaten         6
nama_kecamatan        44
nama_kelurahan       267
jenis_pekerajaan      87
jumlah              2036
dtype: int64

In [ ]:
datas.nama_kabupaten.value_counts()

JAKARTA TIMUR            2886
JAKARTA SELATAN          2846
JAKARTA BARAT            2423
JAKARTA PUSAT            1833
JAKARTA UTARA            1375
ADM. KEPULAUAN SERIBU     145
Name: nama_kabupaten, dtype: int64

In [ ]:
datas.groupby(['nama_kabupaten', 'nama_kecamatan']).mean()

                                                 tahun       jumlah
nama_kabupaten        nama_kecamatan
ADM. KEPULAUAN SERIBU KEPULAUAN SERIBU SELATAN  2018.0   162.347222
                      KEPULAUAN SERIBU UTARA    2018.0   227.397260
JAKARTA BARAT         CENGKARENG                2018.0  2016.564103
                      GROGOL PETAMBURAN         2018.0   758.214058
                      KALI DERES                2018.0  1802.751055
                      KEBON JERUK               2018.0  1036.325444
                      KEMBANGAN                 2018.0  1038.460714
                      PAL MERAH                 2018.0   843.365314
                      TAMAN SARI                2018.0   441.900685
                      TAMBORA                   2018.0   647.959427
JAKARTA PUSAT         CEMPAKA PUTIH             2018.0   692.130137
                      GAMBIR                    2018.0   450.517857
                      JOHAR BARU                2018.0   796.763736
                      KEMAYORAN                 2018.0   769.557185
                      MENTENG                   2018.0   425.097222
                      S E N E N                 2018.0   526.831967
                      SAWAH BESAR               2018.0   675.311558
                      TANAH ABANG               2018.0   645.612100
JAKARTA SELATAN       CILANDAK                  2018.0   908.497925
                      JAGAKARSA                 2018.0  1206.407018
                      KEBAYORAN BARU            2018.0   363.955294
                      KEBAYORAN LAMA            2018.0  1162.061594
                      MAMPANG PRAPATAN          2018.0   786.804020
                      PANCORAN                  2018.0   641.729323
                      PASAR MINGGU              2018.0  1010.166667
                      PESANGGRAHAN              2018.0  1128.088889
                      SETIA BUDI                2018.0   389.077181
                      TEBET                     2018.0   761.415335
JAKARTA TIMUR         CAKUNG                    2018.0  1741.474522
                      CIPAYUNG                  2018.0   785.527221
                      CIRACAS                   2018.0  1399.716279
                      DUREN SAWIT               2018.0  1357.403785
                      JATINEGARA                2018.0   905.146479
                      KRAMATJATI                2018.0   984.809677
                      MAKASAR                   2018.0  1004.000000
                      MATRAMAN                  2018.0   707.218868
                      PASAR REBO                2018.0  1006.281250
                      PULO GADUNG               2018.0   943.903125
JAKARTA UTARA         CILINCING                 2018.0  1450.737931
                      KELAPA GADING             2018.0  1024.956204
                      KOJA                      2018.0  1294.640927
                      PADEMANGAN                2018.0  1203.333333
                      PENJARINGAN               2018.0  1309.088983
                      TANJUNG PRIOK             2018.0  1299.273016

In [ ]:
datas.pivot_table(index='nama_kabupaten', columns='nama_kecamatan', values='jumlah', aggfunc='mean')

nama_kecamatan              CAKUNG  CEMPAKA PUTIH  ...  TANJUNG PRIOK       TEBET
nama_kabupaten                                     ...
ADM. KEPULAUAN SERIBU          NaN            NaN  ...            NaN         NaN
JAKARTA BARAT                  NaN            NaN  ...            NaN         NaN
JAKARTA PUSAT                  NaN     692.130137  ...            NaN         NaN
JAKARTA SELATAN                NaN            NaN  ...            NaN  761.415335
JAKARTA TIMUR          1741.474522            NaN  ...            NaN         NaN
JAKARTA UTARA                  NaN            NaN  ...    1299.273016         NaN

[6 rows x 44 columns]

In [ ]:
datas.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [ ]:
datas.groupby(['nama_kabupaten', 'nama_kecamatan']).size()

nama_kabupaten         nama_kecamatan
ADM. KEPULAUAN SERIBU  KEPULAUAN SERIBU SELATAN     72
                       KEPULAUAN SERIBU UTARA       73
JAKARTA BARAT          CENGKARENG                  273
                       GROGOL PETAMBURAN           313
                       KALI DERES                  237
                       KEBON JERUK                 338
                       KEMBANGAN                   280
                       PAL MERAH                   271
                       TAMAN SARI                  292
                       TAMBORA                     419
JAKARTA PUSAT          CEMPAKA PUTIH               146
                       GAMBIR                      224
                       JOHAR BARU                  182
                       KEMAYORAN                   341
                       MENTENG                     216
                       S E N E N                   244
                       SAWAH BESAR                 199
                       TANAH ABANG                 281
JAKARTA SELATAN        CILANDAK                    241
                       JAGAKARSA                   285
                       KEBAYORAN BARU              425
                       KEBAYORAN LAMA              276
                       MAMPANG PRAPATAN            199
                       PANCORAN                    266
                       PASAR MINGGU                318
                       PESANGGRAHAN                225
                       SETIA BUDI                  298
                       TEBET                       313
JAKARTA TIMUR          CAKUNG                      314
                       CIPAYUNG                    349
                       CIRACAS                     215
                       DUREN SAWIT                 317
                       JATINEGARA                  355
                       KRAMATJATI                  310
                       MAKASAR                     217
                       MATRAMAN                    265
                       PASAR REBO                  224
                       PULO GADUNG                 320
JAKARTA UTARA          CILINCING                   290
                       KELAPA GADING               137
                       KOJA                        259
                       PADEMANGAN                  138
                       PENJARINGAN                 236
                       TANJUNG PRIOK               315
dtype: int64

In [ ]:
nama