<a href="https://colab.research.google.com/github/ilham-mukti/Machine-Learning/blob/main/Latihan_Pandas_3_(Encoding).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
datas = pd.read_csv('/content/diabetes.csv')
datas.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [4]:
datas.Age.value_counts()

22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
32    16
36    16
38    16
45    15
34    14
40    13
43    13
46    13
39    12
35    10
50     8
44     8
51     8
52     8
58     7
47     6
54     6
57     5
60     5
48     5
49     5
53     5
55     4
62     4
63     4
66     4
56     3
59     3
65     3
67     3
61     2
69     2
72     1
64     1
68     1
70     1
81     1
Name: Age, dtype: int64

In [6]:
def encode(x):
  if x < 30:
    x = "Muda"
  elif x > 30 and x < 60:
    x = "Tua"
  else:
    x = "Kakek/Nenek"
  return x

In [7]:
datas['Age_Range'] = datas.Age.apply(encode)
datas.head()

   Pregnancies  Glucose  BloodPressure  ...  Age  Outcome  Age_Range
0            6      148             72  ...   50        1        Tua
1            1       85             66  ...   31        0        Tua
2            8      183             64  ...   32        1        Tua
3            1       89             66  ...   21        0       Muda
4            0      137             40  ...   33        1        Tua

[5 rows x 10 columns]

In [8]:
def decode(x):
  if x == "Muda":
    x = 0
  elif x == "Tua":
    x = 1
  else:
    x = 2
  return x

In [9]:
 datas['Age_Levels'] = datas.Age_Range.apply(decode)
datas.head()

   Pregnancies  Glucose  BloodPressure  ...  Outcome  Age_Range  Age_Levels
0            6      148             72  ...        1        Tua           1
1            1       85             66  ...        0        Tua           1
2            8      183             64  ...        1        Tua           1
3            1       89             66  ...        0       Muda           0
4            0      137             40  ...        1        Tua           1

[5 rows x 11 columns]